

@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:400,500,600,700&display=swap');


/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  position: relative;
  height: 100%;
}

body {
  font-family: 'Be Vietnam', sans-serif;
}

 h1, h2, h3, h4, h5, h6 {
  color: #242d52;
}

@media only screen and (min-width: 320px) {
  h1 {
    font-size: 50px;
    font-weight: 700;
  }
  
  h2 {
    font-size: 40px;
    font-weight: 700;
  }
  
  h6 {
    font-weight: 700;
  }
  
  a {
    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: 600;
  }
  
  p {
    font-size: 15px;
    font-weight: 500;
    color: #9095a7;
    letter-spacing: 0.4px;
  }
}

@media only screen and (max-width: 575.98px) {
  h1 {
    font-size: 34px;
    font-weight: 700;
    text-align: center;
  }
  
  h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  
  h6 {
    font-size: 0.9rem;
  }
  
  a {
    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: 600;
  }
  
  p {
    font-size: 14px;
    color: #9095a7;
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 50px !important;
  }
}

.btn {
  background-color: #f25f3a;
  color: #fafafa;
  font-size: 14px;
  font-weight: 600;
  padding: .7rem 2rem;
  position: relative;
  border-radius: 50px;
  height: 45px;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 15px 20px rgba(242, 95, 58, 0.2);
  letter-spacing: 0.5px;
}

.btn:hover {
  box-shadow: 0px 15px 20px rgba(242, 95, 58, 0.3);
  color: #fff;
  opacity: 0.8;
}


/* End Global Styles */


html, body {
  position: relative;
  height: 100%;
}
body {
  color:#000;
  margin: 0;
  padding: 0;
}

.container-figure {
  overflow: hidden;
  position: relative;
}

.figure {
  position: absolute;
  background: url(../images/bg-tablet-pattern.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 820px;
  height: 850px;
  transform: rotate(-180deg);
  top: -200px;
  right: -140px;
  overflow: hidden;
}

.figure2 {
  position: absolute;
  background: url(../images/bg-tablet-pattern.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 800px;
  height: 800px;
  z-index: -1;
  transform: rotate(-180deg);
  bottom: 16%;
  left: -30%;
  overflow: hidden;
}


/* Navbar Section */

a, .nav-link {
  color: #212A52;
}

@media only screen and (min-width: 320px) {
  .nav-btn {
      display: none;
  }
  .navbar-expand-lg .navbar-toggler {
    display: flex;
  }
}

@media only screen and (max-width: 575.98px) {
  .logo {
    width: 109px;
    height: 18px;
  }
}

@media only screen and (min-width: 768px) {
  .nav-btn {
      display: none;
  }
  .navbar-expand-lg .navbar-toggler {
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .nav-btn {
      display: flex;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
  .navbar {
    padding: 50px !important;
}

#navbarNav {
    justify-content: center;
  }
}

@media only screen and (max-width: 991.98px) {
  .navbar {
    padding: 20px !important;
  }
  #navbarNav {
    background-color: white;
    margin: 10px;
    border-radius: 3px;
  }
  .navbar-nav {
    text-align: center;
    padding: 10px;
    margin: 10px;
  }
  .nav-item {
    font-weight: 600;
  }
}

@media screen and (max-width: 991.98px) {
  .container-mobile:after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0;
    background: linear-gradient(to bottom, white, hsl(228, 39%, 23%));
    opacity: 0.5;
    z-index: 11;
  }

  .nav-burger {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 25px;
    width: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .nav-line1,
  .nav-line2,
  .nav-line3 {
    width: 25px;
    height: 4px;
    background-color: #1d1e25;
    transition: all 0.3s ease;
  }

  .nav-burger:hover {
    opacity: 0.7;
  }

  .change .nav-line1 {
    transform: rotate(45deg) translate(6px, 7px);
  }

  .change .nav-line2 {
    opacity: 0;
  }
  .change .nav-line3 {
    transform: rotate(-45deg) translate(4px, -4px);
  }

  .nav-list--show {
    background-color: #fafafa;
    display: block;
    position: fixed;
    padding: 2rem 2rem;
    text-align: center;
    border-radius: 8px;
    position: fixed;
    top: 15%;
    left: 0;
    width: calc(100% - 2rem);
    margin-left: 1rem;
  }
}

/* End Navbar Section */





/* Banner Section */

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.intro-text {
  max-width: 350px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 575.98px) {
  .hero-btn {
    text-align: center;
  }
  .figure, .container-figure::after {
    width: 400px;
    height: 450px;
    top: -120px;
    right: -125px;
  }
  .figure2 {
    width: 350px;
    height: 350px;
    top: 450px;
    left: 210px;
  }
  .intro-text {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 25px;
    font-weight: 400;
    max-width: 100%;
  }
}

@media only screen and (min-width: 576px) {
  h1 {
    font-size: 40px;
    font-weight: 700;
  }
  .intro-heading {
    text-align: center;
  }
  .intro-text {
    text-align: center;
    max-width: 100%;
  }
  .hero-btn {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .intro-heading {
    text-align: left;
  }
  .intro-text {
    text-align: left;
  }
  .hero-btn {
    text-align: left;
  }
}

@media only screen and (max-width: 767.98px) {
  .hero-image-container {
    order: -1;
  }
}

@media only screen and (min-width: 992px) {
  .intro-heading {
    letter-spacing: 1px;
    max-width: 425px;
  }
  .intro-text {
    max-width: 345px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* End Banner Section */


/* About Us Section */

#about-section {
  padding-top: 40px;
  padding-bottom: 50px;
}

.about-title {
  padding-top: 20px;
}

.about-text {
  max-width: 350px;
  line-height: 26px;
}

.right-side {
  display:flex;
}

.number span {
  background-color:hsl(12, 88%, 60%);
  padding:10px 25px 10px 25px;
  border-radius: 30px;
  background-clip: padding-box;
  color:#fff;
}

.features {
  position: relative;
}

.feature-number {
  display: flex;
  padding: 8px 24px 8px 24px;
  justify-content: center;
  align-items: center;
  background-color:hsl(12, 88%, 60%);
  border-radius: 35px;
  color: #fafafa;
  font-weight:600;
  position: absolute;
}

.feature-number {
  color: #fafafa;
  margin-bottom: 0;
}

.feature h6 {
  margin:0px 0px 15px 15px;
  font-weight: 700;
}

@media only screen and (max-width: 575.98px) {
  .about-text {
    font-size: 13px;
    margin-bottom: 40px;
    max-width: 100%;
  }
  .feature-heading {
    width: 390px;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    background-color: #ffefeb;
  }
  .feature-title {
    padding: 10px 0 10px 70px;
  }
  .description {
    padding: 0 0 20px 0px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    font-size: 13px;
  }
}

@media only screen and (min-width: 576px) {
  .about-title {
    text-align: center;
  }
  .about-text {
    max-width: 100%;
  }
  .feature1, .feature-title {
    padding-left: 90px;
    padding-top: 8px;
  }
  .feature1, .description {
    font-size: 14px;
    padding-left: 90px;
  }
}

@media only screen and (min-width: 768px) {
  .about-title {
    text-align: center;
  }
  .about-text {
    max-width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .features {
    padding-left: 80px;
  }
  .feature-title {
    padding-top: 7px;
    padding-bottom: 10px;
  }
  .description {
    width: 440px;
    padding-bottom: 20px;
  }
  .about-title {
    text-align: left;
    max-width: 100%;
  }
  
}

@media only screen and (min-width: 1024px) {
  .description {
    width: 485px;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .features {
    padding-left: 120px;
  }
}

/* End About Us Section */



/* Clients Section */

.profile {
  padding: 70px 10px 10px;
  background-color: #fafafa;
}

.clients-btn {
  justify-content: center;
}

.swiper-slide {
  margin-right: 30px;
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-container {
  width: 90%;
  height: 300px;
  margin-bottom: 2rem;
}

.swiper-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fafafa;
  width: 95%;
  height: 70%;
  position: relative;
}

.swiper-img-container {
  border-radius: 100%;
  position: absolute;
  top: -46px;
}

.swiper-img {
  width: 80px;
  height: 80px;
}

.swiper-title {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: #242d52;
}

.swiper-text {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  color: #9095a7;
  width: 90%;
  text-align: center;
  line-height: 1.8;
}

.swiper-pagination-bullet-active {
  background-color: #f25f3a !important;
}


@media only screen and (min-width: 320px) {
  .swiper-text {
    font-size: 13px;
  }
}

/* End Client Section */


/* CTA Section */

#cta-section {
  background-color: #f25f3a;    
  padding: 4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

@media only screen and (min-width: 320px) {
  #cta-section::before {
    content: "";
    position: absolute;
    background: url(../images/bg-tablet-pattern.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 450px;
    height: 450px;
    z-index: -1;
    transform: rotate(-180deg);
    top: 10%;
    right: 80%;
    opacity: 0.1;
  }
}

@media only screen and (min-width: 992px) {
  #cta-section::after {
    content: "";
    position: absolute;
    background: url(../images/bg-tablet-pattern.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
    z-index: -1;
    opacity: 0.1;
    right: -330px;
    bottom: 85px;
  }
  #cta-section::before {
    content: "";
    position: absolute;
    background: url(../images/bg-tablet-pattern.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
    z-index: -1;
    transform: rotate(-180deg);
    top: -12%;
    left: 11%;
    opacity: 0.1;
  }
}

.cta-head {
  color: #fafafa !important;
}

.cta-content {
  justify-content: space-between;
}

@media only screen and (max-width: 576px) {
  #cta-section {
    text-align: center;
  }

  .cta-head {
    font-size: 38px;
  }

  .cta-content {
    justify-content: center;
  }
}

@media only screen and (max-width: 991.98px) {
  .cta-content {
    justify-content: center;
  }
  .cta-head {
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  .cta-title {
    width: 50%;
  }
}

.cta-btn {
  background-color: #fafafa;
  color: #f25f3a;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}

.cta-btn:hover {
  color: #f25f3a;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}

/* End CTA Section */

/* Footer Section */

footer {
  background-color: #1d1e25;
}

.footer-content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.social-links {
  padding-top: 35px;
}

.footer-space {
  justify-content: space-between;
}

.footer_col1 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer-icon {
  font-size: 20px;
  color: #fafafa;
}

.footer-link {
  font-weight: 400;
  color: #fafafa !important;
  text-decoration: none !important;
}

.footer_contact {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.footer_copyright {
  display: flex;
  width: 99%;
  justify-content: flex-end;
}

.footer_copyright p {
  font-size: 14px;
}

.footer_links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.1rem;
}

.footer_input {
  padding: 1rem 2rem;
  border-radius: 35px;
  border: none;
  font-size: 14px;
  color: grey;
  margin-right: 0.5rem;
  flex: 1;
  width: 300px;
  height: 45px;
}

@media only screen and (max-width: 991.98px) {
  .footer_input {
    padding: 0rem 1rem;
    border-radius: 35px;
    border: none;
    font-size: 12px;
    color: grey;
    margin-right: 0.5rem;
    flex: 1;
    width: 300px;
    height: 45px;
  }
  .footer_contact {
    order: -2;
    padding-bottom: 50px;
  }
  .left-list {
    order: -1;
    width: 160px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
  }
  .right-list {
    order: -1;
    width: 160px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
  }
  .footer-logo {
    justify-content: center;
    align-items: center;
    display: flex;
    order: 1;
  }
  .social-links {
    order: 0;
    justify-content: center;
    padding-top: 0;
  }
  .footer-icon {
    font-size: 30px;
    letter-spacing: 14px;
  }
  .footer_copyright {
    justify-content: center;
    order: 2;
  }
  .footer_copyright p {
    padding-top: 50px;
    font-size: 12px;
  }
}

.attribution {
  background-color: #1d1e25;
  color: #fafafa;
  font-size: 12px;
  text-align: center;
}
.attribution a {
  color: #f25f3a;
  font-size: 12px;
  font-weight: 400px;
  text-align: center;
}

/* End Footer Section */











/*# sourceMappingURL=style.css.map */